article.quick-hit {
    order: -1;
    padding: 50px 25px 20px 25px;
    border-bottom: 1px solid $off-white;

    section.header,
    section.body {
        max-width: 770px;
        margin: 0 auto;
    }


    @include tablet-landscape {
        order: 2;
        padding: 75px 50px;
        max-width: 820px;
        margin-right: auto;
        margin-left: 0;
    }

    @include desktop {
        margin-left: 75px;
    }

    section.header {
        .share {
            justify-content: flex-start;
            padding-bottom: 40px;
        }

        .dek {
            text-align: left;
            max-width: 100%;
            padding-bottom: 0;

            & +.byline {
                padding-top: 30px;
            }
        }

        .quick-hit-photo {
            .credit {
                position: absolute;
                bottom: 0;;
                right: 0;
                z-index: 10;
            }

            .caption {
                margin: 15px 0 0 0;

                p {
                    color: $mid-gray;
                    text-align: left;
                    font-size: 0.9375em;
                    line-height: 1.5em;
                    font-style: italic;						
                }
            }
        }

        .quick-hit-date {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 1em;
            padding-bottom: 20px;

            @include tablet-portrait {
                font-size: 1.125em;
            }

            .tagline {
                display: flex;
                padding-bottom: 10px;

                @include tablet-portrait {
                    padding-bottom: 0;
                }
            }

            .date {
                width: 100%;

                @include tablet-portrait {
                    width: auto;
                    padding-top: 0;
                }
            }
        }
        .quick-hit-photo {
            padding: 30px 0 30px 0;
        }

        .byline {
            justify-content: flex-start;
            padding: 0 0 40px 0;


            .authors {
                justify-content: flex-start;
                width: auto;

                &:after {
                    display: none;
                }
            }

            .date {
                width: auto;
                padding: 0;			
            }

            .authors + .date {
                &:before {
                    content: '·';
                    padding: 0 10px;
                }	
            }
        }

        .title + .byline {
            padding-top: 20px;
        }

        .dateline {
            padding-bottom: 20px;
            transform: translateX(0);
        }

        .header-wrapper {
            .title:last-child {
                padding-bottom: 40px;

                @include tablet-portrait {
                    padding-bottom: 80px;
                }
            }
        }
    }

    section.body {
        padding-bottom: 0;
    }
}