section.article-teasers {
    order: 1;
    width: calc(100% - 50px);
    margin: 0 auto 0 auto;

    @include tablet-portrait {
        flex: 2;
        order: 1;
        padding-top: 50px;
        margin: 0 25px
    }

    .section-header {
        padding: 30px 0 0 0;
        text-align: center;

        &.mobile {
            margin-bottom: 25px;
            @include tablet-portrait {
                display: none;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 1.5em;

            a {
                border-bottom: 2px solid $red;
                padding-bottom: 3px;
                display: inline-block;				
            }
        }
    }

    .alm-reveal {

        & + .alm-reveal {
            margin-top: 50px;

        }
    }

    article.quick-hit {
        border: 1px solid $off-white;
        border-top: 3px solid $red;
        background: $white;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        padding: 35px 25px 25px 25px;

        @include tablet-portrait {
            padding: 50px 50px 25px 50px;
        }

        & + article.quick-hit {
            margin-top: 50px;
        }



        section.header {
            .quick-hit-date {
                font-size: 1em;
                padding-bottom: 10px;
            }
        
            .x-large-title {
                font-size: 1.5em;
                @include tablet-portrait {
                    font-size: 1.5em;
                }

                @include tablet-landscape {
                    font-size: 1.75em;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .quick-hit-photo {
                padding: 20px 0;

                .caption {
                    margin-top: 10px;
                }
            }
        }

        section.body.p2 {
            line-height: 1.75em;
            font-size: 1.125em;

            .show-more-wrapper {
                overflow: hidden;
                height: 12em;
            }

            &.expanded {
                .show-more-wrapper {
                    height: auto;
                    padding-bottom: 25px;
                }

                .subscribe-btn {
                    display: none;
                }
            }

            .show-more-btn {
                padding: 40px 0 25px 0;
                display: flex;
                justify-content: center;

                .subscribe-btn {
                    border-bottom: none;
                    line-height: 1em; 
                    @include tablet-portrait {
                        font-size: 0.875em;
                        padding: 13px 20px 10px 20px;
                    }

                }
            }

            p {
                & + p {
                    padding-top: 25px;
                }
            }
        }

        section.footer {
            padding-top: 25px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .date {
                span {
                    display: block;
                    color: #ccc;
                    font-family: $proxima-nova;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 0.05em;
                }
            }

            .share {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                span.label {
                    display: none;
                }

                .link {

                    & + .link {
                        margin-left: 10px
                    }
                    a {
                        width: 28px;
                        height: 28px;
                        border: 2px solid $red;
                        border-radius: 50%;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background: $red;
                        }
                    }
                }
            }				
        }
    }
}