.desktop-nav-links {
    display: none;

    @include tablet-landscape {
        display: flex;
        align-items: center;
        margin-bottom: auto;
        padding-top: 7px;
        padding-left: 40px;
    }

    @include desktop {
        padding-top: 9px;
    }

    a {
        color: $red;
        font-family: $proxima-nova;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: block;
        font-size: 0.75em;
        font-weight: bold;

        & + a {
            &:before {
                content: "·";
                padding: 0 20px;

                @include tablet-portrait {
                    padding: 0 15px;
                }
            }
        }

        &:hover {
            span {
                text-decoration: underline;
            }
        }

        @include desktop {
            font-size: 0.875em;
        }

        &:nth-child(4) ~ a {
            @include tablet-landscape {
                display: none;
            }

            @include desktop {
                display: block;
            }
            
        }
    }
}