.site-header.open {
    z-index: 10001;

    #toggle {
        z-index: 100002;

        .patty {
            background: none;

            &:before {
                top: 0;
                transform: rotate(-45deg);
                width: 25px;
                   @include desktop {
                       width: 25px;
                }
            }

            &:after {
                top: 0;
                transform: rotate(45deg);

                   @include desktop {
                       width: 25px;
                }
            }
        }
    }
}