section.body {
    padding-bottom: 100px;

    .wrapper {
        max-width: 840px;
    }

    h3 {
        font-family: $proxima-nova;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 25px 0 10px 0;
    }

    .cta {
        padding-top: 30px;
    }
}