section.footer {

    .footer-wrapper {
        max-width: 90%;
        padding: 3rem 2rem;
        border-top: 1px solid $off-white;
        margin: 0 auto;

        @include tablet-landscape {
            max-width: 848px;
            padding-bottom: 6rem;
        }
    }

    .section-header {
        padding-bottom: 40px;
        h2 {
            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                background: $red;
                margin-top: 10px;
            }
        }
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px 20px;

        @include mobile-landscape {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-portrait {
            grid-template-columns: 1fr 1fr 1fr;
        }
        

        article {
            .photo {
                @include aspect-ratio(4, 3);

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }						
            }
            .info {
                padding-top: 10px;

                .tagline {
                    padding-bottom: 10px;
                
                    h4 {
                        font-family: $proxima-nova;
                        color: $red;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 0.75em;
                        letter-spacing: 0.05em;
                    }
                }

                .headline {
                    h3 {
                        font-size: 1.25em;
                        line-height: 1.125em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }
        }
    }
}