.latest-episode {
    .section-header {
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;

        h3 {
            display: inline-block;
            border-bottom: 3px solid $red;
            padding-bottom: 0.25rem;
            font-size: clamp(1.375rem, 1.25vw, 2rem);
        }

        .show-notes-link {
            font-family: $proxima-nova;
            text-transform: uppercase;
            font-size: 0.8125rem;
            letter-spacing: 0.05em;
            font-weight: bold;
            text-decoration: underline;
            display: block;
            transform: translateY(-3px);
            margin-left: 0.5rem;
        }
    }

    .podcast-player {
        padding-bottom: 3rem;
        border-bottom: 1px solid #eee;
        .embed {
            iframe {
                width: 100%;
                max-width: 100% !important;
            }
        }
    }
}