.show-details {
    padding-top: 3rem;
}

.recent-episodes {
    padding-bottom: 3rem;

    @include tablet-portrait {
        grid-column: 2 / span 4;
        padding-bottom: 0;
    }

    @include tablet-landscape {
        grid-column: 2 / span 8;
    }

    .section-header {
        padding-bottom: 2rem;
        
        h3 {
            display: inline-block;
            border-bottom: 3px solid $red;
            padding-bottom: 0.25rem;
            font-size: clamp(1.375rem, 1.25vw, 2rem);
        }

    }

    .episode {
        display: flex;
        align-items: flex-start;

        & + .episode {
            margin-top: 2rem;
            border-top: 1px solid #eee;
            padding-top: 2rem;

        }

        .art {
            width: clamp(6rem, 10vw, 10rem);
            @include aspect-ratio(1,1);
            @include cover-image;

            a {
                display: block;
                width: 100%;
                height: 100%;

            }
        }

        .info {
            flex: 1;
            padding-top: 0.25rem;
            padding-left: 1rem;

            @include tablet-portrait {
                padding-left: 2rem;
            }

            .meta {
                padding-bottom: 0.25rem;

                .time {
                    font-family: $proxima-nova;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: #888;
                    font-weight: 500;
                    font-size: 0.8125rem;
                }                        
            }

            .headline {
                padding-bottom: 0.5rem;

                h4 {
                    font-family: $proxima-nova;
                    font-size: clamp(0.875rem, 1.35vw, 1.125rem);

                    a:hover {
                        text-decoration: underline;
                    }

                }
            }

        }
    }

    .alm-listing {
        & > div + div {
            margin-top: 2rem;
            border-top: 1px solid #eee;
            padding-top: 2rem;
        }
    }

    .ajax-load-more-wrap {
        .alm-btn-wrap {
            padding-top: 4rem;
            
            .alm-load-more-btn {
                color: $slate;
    
    
                &.loading,
                &:hover {
                    background: $red;
                    color: $white;
                }
    
                &.done {
                    display: none;
                }
            }
        }
    }
}