section.main {
    padding-bottom: 100px;

    .wrapper {
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section.content {
        width: 100%;
        padding-bottom: 50px;

        @include tablet-portrait {
            width: calc(66.6666% - 25px);
            padding-bottom: 0;
        }
    }

    section.masthead {
        width: 100%;
        padding: 50px;
        background: #fafafa;

        @include tablet-portrait {
            width: calc(33.3333% - 25px);
        }

        .section-header {
            text-align: center;
            padding-bottom: 30px;

            h3 {
                font-size: 1.75em;
                display: inline-block;
                border-bottom: 2px solid $red;
            }
        }

        .position {
            text-align: center;

            a {
                display: block;
            }

            span.name {
                display: block;
                font-weight: bold;
                padding-bottom: 5px;
            }

            span.title {
                display: block;
                font-family: $proxima-nova;
                font-size: 0.875em;
                color: $mid-gray;
            }

            & + .position {
                padding-top: 30px;
            }
        }
    }
}