.site-footer {
	border-top: 5px solid $red;
	background: #1a1a1a;
	padding: 50px 0;
	color: $white;

	@include tablet-landscape {
		padding: 70px 0;
	}

	a {
		color: $white;
	}

    @import "header";

    @import "logo";

    @import "utilities";

    @import "copyright";
}