.footer-utilities {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .navigation {
        width: 100%;

        @include tablet-portrait {
            width: 25%;
        }

        .link {
            & + .link {
                padding-top: 20px;
            }
            a {
                font-family: $proxima-nova;
                font-weight: bold;
                font-size: 1em;
            }
        }
    }

    .social {
        width: 100%;
        padding-top: 50px;

        @include tablet-portrait {
            width: 25%;
            padding-top: 0;
        }

        .links {
            display: flex;
            align-items: center;

            .social-link {
                & + .social-link {
                    padding-left: 40px;
                }

                a {
                    display: block;
                    max-width: 22px;
                }

                &.twitter {
                    padding-top: 1px;
                }
            }
        }
    }

    .subscribe {
        width: 100%;
        padding-top: 50px;
        max-width: 470px;

        @include tablet-portrait {
            width: 50%;
            margin-left: auto;
            padding-top: 0;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        input.email {
            appearance: none;
            border: none;
            font-family: $proxima-nova;
            padding: 10px;
            width: 100%;
            margin: 0 0 20px 0;

            @include mobile-landscape {
                width: auto;
                flex: 1;
                margin: 0 20px 0 0;
            }
        }

        .subscribe-btn {
            background: transparent;
            border-color: $white;
            color: $white;

            &:hover {
                background: $white;
                color: $charcoal;
            }
        }
    }
}
