section.pagination {
    padding-top: 3rem;

    @include tablet-landscape {
        padding-top: 6rem;
    }

    .link {
        a {
            display: block;
            padding: 1rem;
            position: relative;

            &:before {
                display: block;
                color: $red;
                position: absolute;
                top: 2.375rem;
                font-size: 1.5rem;
            }

            span {
                display: block;
            }
        }

        .location {
            font-style: italic;
            font-size: clamp(0.875rem, 1vw, 1rem);
            padding-bottom: 0.5rem;
        }

        .name {
            font-size: clamp(1.25rem, 1.4vw, 1.75rem);
            font-weight: bold;

            &:after {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: $red;
                margin: 0.375rem 0 0.375rem 0;
            }
        }

        .tagline {
            max-width: 12rem;
            font-family: $proxima-nova;
            text-transform: uppercase;
            font-size: clamp(0.6125rem, 0.8vw, 0.8125rem);
            letter-spacing: 0.05em;
            line-height: 1.25em;
            font-weight: bold;
        }
    }

    .prev {
        grid-column: 2 / span 2;

        @include mobile-landscape {
            grid-column: 2 / span 4;
        }

        @include tablet-landscape {
            grid-column: 2 / span 6;
        }

        a {
            padding-left: 2.25rem;

            &:before {
                content: '←';
                left: 0;
            }
        }
    }

    .next {
        grid-column: 4 / span 2;
        text-align: right;

        @include mobile-landscape {
            grid-column: 6 / span 4;
        }

        @include tablet-landscape {
            grid-column: 8 / span 6;
        }

        a {
            padding-right: 2.25rem;

            &:before {
                content: '→';
                right: 0;
            }
        }

        .name {
            &:after {
                margin-left: auto;
            }
        }

        .tagline {
            margin-left: auto;
        }        
    }



}