section.profile {
    .profile-photo {
        padding-bottom: 2rem;
        grid-column: 3 / span 2;

        @include mobile-landscape {
            grid-column: 4 / span 4;
        }

        @include tablet-landscape {
            grid-column: 2 / span 4;
        }    

        .photo {
            @include aspect-ratio(1, 1);
            @include cover-image;
        
            img {
                border-radius: 50%;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
                transition: all 0.3s ease-in;
            }

            &.emerging {
                .cat {
                    h4 {
                        background: $red;
                    }
                }

                img {
                    border: 3px solid $red;
                }
            }

            &.established {
                .cat {
                    h4 {
                        background: $blue;
                    }
                }

                img {
                    border: 3px solid $blue;
                }
            }
        }
    }

    .cat {
        position: absolute;
        top: -8px;
        left: 0;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;

        h4 {
            font-family: $proxima-nova;
            text-transform: uppercase;
            font-size: 0.875rem;
            letter-spacing: 0.05em;
            color: $white;
            display: inline-block;
            padding: 0.375rem;
            border-radius: 2px;
        }
    }
    .location {
        padding-bottom: 0.5rem;

        h4 {
            font-style: italic;
            font-weight: 400;
            font-size: clamp(0.875rem, 1vw, 1rem);
        }
    }
    .name {
        padding-bottom: 2rem;
        text-align: center;


        @include tablet-landscape {
            text-align: left;
        }

        h1 {
            font-size: clamp(2rem, 2.5vw, 3.5rem);

            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 4px;
                background: $red;
                margin: 0.5rem auto 0 auto;
    
                @include tablet-landscape {
                    margin: 0.5rem 0 0 0;
                }
            }
        }

        .tagline {
            padding: 1rem 0 0.5rem 0;

            h2 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-size: clamp(0.75rem, 1vw, 0.9375rem);
                letter-spacing: 0.05em;
                line-height: 1.25em;
            }                
        }
    }

    .info {
        @include tablet-landscape {
            grid-column: 7 / span 7;
        }
        
        .section-header {
            padding-bottom: 1rem;

            h3 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-size: clamp(0.75rem, 1vw, 0.9375rem);
                letter-spacing: 0.05em;
                line-height: 1.25em;
                color: $red;
            }
        }
    }

    .profile-teaser {
        display: flex;
        flex-wrap: wrap;
        background: $white;
        box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
        border-radius: 3px;
        border: 1px solid #eee;

        & + .profile-teaser {
            margin-top: 2rem;
        }

        .details {
            padding: 2rem;

            .title {
                h3 {
                    font-size: clamp(1.25rem, 1.4vw, 1.75rem);
                    line-height: 1.25em;
                    
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            .byline {
                display: flex;
                flex-wrap: wrap;
                font-size: 0.875rem;
                padding: 1rem 0;
                
                @include mobile-landscape {
                    font-size: 1rem;
                }
        
                .authors {
                    display: flex;
                    &:after {
                        content: '·';
                        padding: 0 0.5rem;
                    }
        
                    .by {
                        padding-right: 0.25rem;
                    }
        
                    .author  {
                        display: flex;
                        width: auto;
        
                        &:before {
                            content: ", ";
                            margin-right: 0.6125rem;
                        }
        
                        &:first-of-type:before {
                            content: "";
                            margin-right: 0;
                        }
        
                        a {
                            border-bottom: 2px solid $red;
                        }
                    }
                }
            }

            .dek {
                p {
                    font-size: clamp(0.875rem, 0.9vw, 1rem);
                    line-height: 1.5em;                       
                }                    
            }
        }
    }
}