section.related {
    padding: 6rem 0;
    background: #fafafa;
    margin-top: 3rem;

    .section-header {
        padding-bottom: 2rem;

        h3 {
            font-size: clamp(1.5rem, 1.7vw, 2.5rem);
            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                background: $red;
                margin-top: 0.5rem;
            }
        }
    }

    @import '../archive-profiles/grid';

    @import '../archive-profiles/profile';
}