h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $tiempos-headline;
	font-weight: bold;
}

.x-large-title {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	color: $charcoal;

	@include mobile-landscape {
		font-size: 2.25em;
	}

	@include tablet-landscape {
		font-size: 2.75em;
	}
}