section.main {
	display: flex;
	flex-wrap: wrap;

	.page-content {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1240px;
		padding: 25px 0 50px 0;
		margin: 0 auto;
		
		@include tablet-landscape {
			padding: 30px;
		}
		
		@include desktop {
			padding: 30px 70px;
		}		
	}
}