body.page-template-homepage {
	@import '../template-parts/home/featured-articles';

	section.main {
		border-top: 5px solid $red;
		align-items: flex-start;
	}

	section.quick-hits {
		border-bottom: none;
	}


	@import '../template-parts/home/banner';
}