body.tax-show {
    .site-content {
        padding-top: 0;
    }

    @import '../template-parts/taxonomy-show/show-title';

    @import '../template-parts/taxonomy-show/latest-episode';

    @import '../template-parts/single-podcasts/subscribe';

    @import '../template-parts/taxonomy-show/recent-episodes';

    @import '../template-parts/taxonomy-show/about-the-podcast';
}