.dk-news {
    .share {
        margin-bottom: 3rem;
        display: flex;      

        &-wrapper {
            padding: 1rem 2rem 0.875rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border: 2px solid $red;
        }

        span.label {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            color: $red;

        }

        .link {
            padding-left: 0.625rem;

            img {
                margin-bottom: 0;
                transition: all 0.1s ease-in;
                //filter: grayscale(1) invert(1) brightness(100);
            }

            a {
                width: 2.25rem;
                height: 2.25rem;
                border: 2px solid $red;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $red;

                    img {
                        filter: grayscale(1) invert(1) brightness(100);
                    }
                }
            }

            &.facebook {
                img{
                    width: 8px;
                    height: 13px;
                }
            }

            &.twitter {
                img{
                    width: 15px;
                    height: 12px;
                }
            }

            &.email {
                img{
                    width: 18px;
                    height: 13px;
                }
            }
        }
    }    
}

.dk-banner {
    .content {
        display: flex;
        justify-content: center;

        a {
            display: block;
            margin: 0;
            padding: 0;
            border: none;
        }
    }



}