.dk-sponsored {
    margin-top: 50px;
    padding: 2rem;
    margin-bottom: 50px;

    @include tablet-portrait {
        padding: 4rem;
    }


    .sponsored-label {
        text-align: center;
        padding-bottom: 2rem;

        h5 {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: clamp(0.625rem, 1vw, 0.75rem);
        }
    }

    .logo {
        max-width: 10rem;
        max-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    p {
        font-size: clamp(0.875rem, 1.1vw, 1rem) !important;
        padding-bottom: 1rem !important;
    }

}