.podcast-details {
    padding-top: 3rem;

    @include tablet-portrait {
        padding-top: 4rem;
    }

    .show-notes {
        @include tablet-portrait {
            grid-column: 2 / span 4;
        }

        @include tablet-landscape {
            grid-column: 2 / span 7;
        }

        .headline {
            padding-bottom: 1rem;

            h3 {
                font-family: $proxima-nova;
                color: $blue;
                font-size: clamp(1.5rem, 1.75vw, 2.5rem);
            }
        }
    }

    .about-the-podcast {
        background: #fafafa;
        padding: 2rem;

        @include tablet-portrait {
            grid-column: 6 / span 4;
        }

        @include tablet-landscape {
            grid-column: 10 / span 4;
        }

        .section-header {
            padding-bottom: 1rem;

            h4 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: $blue;
            }
        }

        .general {
            padding-bottom: 3rem;
        }

        .hosts {
            .host {
                & + .host {
                    padding-top: 2rem;
                }
            }

            .photo {
                width: 100%;
                max-width: 8rem;
                padding-bottom: 1rem;

                img {                    
                    mix-blend-mode: multiply;
                }
            }

            .info {
                .headline {
                    padding-bottom: 0.25rem;

                    h5 {
                        font-family: $proxima-nova;
                        color: $blue;
                        font-size: clamp(0.875rem, 1.35vw, 1.125rem);
                    }
                }
            }
        }
    }
}