.episode-header {
    .meta {
        padding: 0 0 0.5rem 0;

        .time {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: #888;
            font-weight: 500;
            font-size: 0.875rem;
        }
    }

    .headline {
        h3 {
            font-family: $proxima-nova;
            font-size: clamp(1.25rem, 1.25vw, 2.25rem);
        }
    }

    .dek {
        padding-top: 0.5rem;
        font-family: $proxima-nova;
    }

    .meta, .headline, .dek {
        @include mobile-landscape {
            grid-column: 2 / span 6;
        }

        @include tablet-landscape {
            grid-column: 2 / span 8;
        }
    }

    .share {
        display: flex;
        align-items: flex-end;
        padding-top: 1rem;

        @include mobile-landscape {
            padding-top: 0;
            grid-column: 8 / span 2;
            grid-row: 1;
            justify-content: flex-end;
        }

        @include tablet-landscape {
            grid-column: 10 / span 4;
        }

        .link {
            & + .link {
                margin-left: 1rem;
            }

            a {
                height: 1.25rem;
                width: 1.5rem;
                display: block;

                &.facebook {
                    transform: translateY(-1px);
                }
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}