section.page-header {
    padding-top: 50px;
    text-align: center;

    @include tablet-portrait {
        padding-top: 75px;
    }

    .wrapper {
        max-width: 840px;
    }

    .photo {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 25px;

        img {
            border-radius: 50%;
        }
    }

    .headline {
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;

            a.twitter,
            a.email {
                width: 24px;
                height: 24px;
                display: block;
                margin-left: 20px;
            }

            a.email {
                transform: translateY(-3px);
            }
        }

        h3 {
            font-weight: normal;
            font-style: italic;
            color: $mid-gray;
            padding-top: 10px;
        }
    }

    .copy {
        padding-top: 25px;
    }
}