section.results {
    padding: 100px 0;
    min-height: 60vh;


    &.no-results {
        min-height: 0;
        padding: 0 0 100px 0;

        @include tablet-portrait {
            min-height: 40vh;
        }
    }

    .wrapper {
        max-width: 640px;
    }

    .section-header {
        text-align: center;
        padding-bottom: 25px;

        h2 {
            display: inline-block;
            padding-bottom: 2px;
            border-bottom: 2px solid $red;
        }
    }

    article.quick-hit-preview  {
        a {
            padding: 20px 0;
        }
    }
}