.ajax-load-more-wrap  {
	
	.alm-btn-wrap {
		padding-top: 25px;

		.alm-load-more-btn {
			background: transparent;
			color: $charcoal;
			padding: 13px 24px 10px 24px;
			border-radius: 24px;
			font-size: 1.25em;
			font-weight: bold;
			border: 2px solid $red;
			transition: all 0.3s ease-in-out;
			height: auto;
			margin: 0;
			line-height: 1em;

			&.loading {
				padding-left: 24px;

				&:before {
					display: none;
				}
			}

			&:hover {
				background: $red;
				color: $white;
			}
			
			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}