article.category-freewall[data-pico-status='anonymous'] {
    .pico-read-more {
        display: none;
    }

    .pico-freewall-message {
        display: flex;
    }

    #pico {
        & > p:first-of-type {
            position: relative;

            &:before {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 10;
                background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 1) 85%
                );
            }
        }
    }
}

.pico-freewall-message {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5555;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 0.3) 100%
    );
    align-items: flex-end;
    color: $white;
    padding: 2rem;

    @include tablet-landscape {
        padding: 4rem;
    }

    a {
        color: $white;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .logo {
        max-width: 12rem;
        padding-bottom: 2rem;
    }

    .info {
    }

    .headline {
        padding-bottom: 1rem;

        h3 {
            font-size: clamp(2rem, 4vw, 2.75rem);
            line-height: 1.125em;
        }
    }

    .copy {
        p {
            font-family: $proxima-nova;
            padding-bottom: 0;
            font-size: clamp(1rem, 1.25vw, 1.125rem);
            line-height: 1.5em;
        }
    }

    .subscribe {
        padding-top: 2rem;

        &-btn {
            display: inline-block;
        }
    }
}

article:not(.quick-hit) #pico {
    max-width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    & > *:not(.wp-block-image.alignfull) {
        max-width: 848px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#pico-break {
    padding-top: 3rem;

    .pico-read-more {
        background-color: transparent;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-family: $proxima-nova;
        color: $slate;
        border: none;
        padding: 0 0 0.25rem 0;
        border-bottom: 2px solid $red;
    }
}
