section.quick-hits {
	padding-bottom: 15px;
	border-bottom: 5px solid $red;
	width: 100%;

	@include tablet-landscape {
		max-width: 360px;
		border-right: 1px solid $off-white;
		border-bottom: none;
	}

	.section-header {
		padding: 30px 25px 20px 25px;
		text-align: center;

		h2 {
			font-weight: bold;
			font-size: 1.5em;

			a {
				border-bottom: 2px solid $red;
				padding-bottom: 3px;
				display: inline-block;				
			}
		}
	}
}