section#subscribe-form {
    display: none;

    .overlay {
        display: flex;
        align-items: center;
    }

    .subscribe-close {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 20px;

        &:after,
        &:before {
            content: '';
            display: block;
            width: 35px;
            height: 3px;
            background: $white;
            position: absolute;
            z-index: 1;
            border-radius: 2px;
            transition: all 0.2s;
            top: 19px;
            left: 2px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    .info {
        .headline {
            display: block;
            h1 {
                color: $white;
            }
        }

        .dek {
            p {
                color: $white;
            }
        }

        .form {
            width: 100%;

            input[type='email'] {
                border: none;
            }

            .subscribe-btn {
                color: $white;
                border-color: $white;
            }
        }
    }
}

body.subscribe-open {
    overflow: hidden;

    section#subscribe-form {
        display: block;

        .overlay {
            background: rgba(233, 59, 58, 0.9);
        }

        .overlay-wrapper {
            max-width: 640px;
            margin: auto;
            padding: 50px 25px;
            display: flex;
            align-items: center;
            height: auto;
        }
    }
}
