section.newsletter-archive {
    width: 100%;
    order: 3;
    padding: 50px 0;
    background: #fafafa;
    border-top: 1px solid #ddd;

    @include tablet-portrait {
        padding: 100px 0;
    }

    .wrapper {
        max-width: 960px;
    }

    .section-header {
        text-align: center;
        padding-bottom: 50px;

        h2 {
            font-size: 1.5em;
            line-height: 1.25em;

            @include tablet-portrait {
                font-size: 2em;
            }

            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 4px;
                background: $red;
                margin: 20px auto 0 auto;
            }
        }
    }

    .recent {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr;

        @include mobile-landscape {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-portrait {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 50px 25px;
        }

        @include tablet-landscape {
            grid-gap: 50px;
        }

        .archive-post {
            max-width: 360px;
            margin: 0 auto;

            .timestamp {
                text-align: center;
                padding-bottom: 10px;

                span {
                    font-weight: bold;

                    &.day {
                        font-size: 1.5em;
                        padding-bottom: 5px;
                    }

                    &.date {
                        color: $red;
                        font-size: 1.375em;
                    }
                }
            }

            .photo {
                @include aspect-ratio(1, 1);

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .headline {
                padding: 20px 0 0 0;

                @include tablet-landscape {
                    padding: 20px 10px 0 10px;
                }

                h3 {
                    font-weight: 400;
                    font-size: 1em;
                    line-height: 1.375em;

                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


    }

    .archive {
        padding-top: 50px;
        font-family: $proxima-nova;
    }


    .year {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px 50px;

        & + .year {
            padding-top: 100px;
        }

        @include mobile-landscape {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-landscape {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 50px 100px;
        }
    }

    .year-caption {
        padding: 50px 0 25px 0;
        text-align: center;

        .yearName {
            font-size: 1.75em;
            font-family: $tiempos-headline;
            font-weight: bold;
            display: block;
        }
    }

    .monthName {
        font-size: 1em;
        font-family: $tiempos-headline;
        display: block;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .calendar {
        text-align: center;

        td, th {
            padding: 5px;
        }

        th {
            font-size: 0.75em;
        }

        td {
            text-align: center;

            a, span {
                display: block;
                padding: 5px;
                font-size: 0.75em;
                margin: 0 auto;
                text-align: center;
            }

            a {
                color: $red;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                opacity: 0.25;
            }
        }
    }
}