.recent-dropdown {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    &-wrapper {
        width: auto;
        display: inline-block;
    }

    &-outline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-header {
        padding: 5px 15px 0 0;

        span {
            display: block;
            font-size: 0.8125em;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            font-family: $proxima-nova;
            font-weight: bold;
        }
    }

    .combo-box {
        select {
            appearance: none;
            background: #fcfcfc;
            border: 1px solid $light-gray;
            border-radius: 5px;
            padding: 7px 30px 5px 10px;
            width: 100%;
            max-width: 320px;
            display: block;
            box-shadow: 0 0 4px inset rgba(0, 0, 0, 0.05);
            background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjQgMTgiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtOTkgMTc5IDEyIDE4aC0yNHoiIGZpbGw9IiNjMDI2MDciIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAtMSAxMTEgMTk3KSIvPjwvc3ZnPg=="),
            linear-gradient(to bottom, #ffffff 0%,#eee 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 51%, 0 0;
            background-size: .65em auto, 100%;

        }
    }
}