section.subscribe {
    width: 100%;
    order: 1;
    border-bottom: 1px solid $off-white;
    padding: 0 0 10px 0;

    @include mobile-landscape {
        padding: 10px 0 0 0;
    }		

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 640px;
        text-align: center;

        & > * {
            width: 100%;
        }

        @include mobile-landscape {
            & > * {
                width: calc(50% - 10px);
                text-align: left;
            }
        }
    }

    .photo {
        display: none;

        @include mobile-landscape {
            display: block;
        }
        img {
            margin: 0 auto;
        }
    }

    .info {
        padding-bottom: 20px;

        .headline {
            h3 {
                font-size: 1.5em;
                line-height: 1.25em;
            }
        }

        .cta {
            padding-top: 20px;

            .subscribe-btn {
                font-size: 1em;
                background: $white;
                border: 2px solid $red;
                color: $slate;
                display: inline-block;

                &:hover {
                    background: $red;
                    color: $white;
                }
            }
        }
    }
}